.pricing-menu-link {
  color: #fff;
}
.pricing-menu-link:hover {
  color: #5181dc;
 background: #fff;
}
.pricing-signup-hover {
  color: #5181dc;
 background: #fff;
}
.pricing-signup  {
      box-shadow: inset 0 0 0 2px #fff;
}
.header-icon {
  fill: white !important;
}
.Menu-shadow__link--more .Menu__link:first-child, .Menu__link--more .Menu__link {
    color: #737373;
}
.Menu-shadow__link--more .Menu__link:first-child, .Menu__link--more .Menu__link:hover {
    color: #5181dc;
}
.white-menu .Menu:not(.fixed) .Menu__logo path, .white-menu .Menu:not(.fixed) .Menu__logo use {
  fill: #fff;
}
